/*Téléchargement de la police Raleway*/
 
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;800&display=swap');
*  {
    font-family: 'Raleway', Arial, Verdana, sans-serif;
color: black;
}

/*General*/
* {
    margin: 0;
    padding: 0;
}

.Ma_page {
    max-width: 1350px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 20px;

    
}
h2 {
    font-size: 16px;
font-weight: bold;

}

h3 {
    font-size: 13px;
    font-weight: 500;
  

}


p {
   
    font-size: 13px;

}

a:hover {
    text-decoration: #0065FC;
    color: #0065FC;
}

.fas {
    color: #0065fc;
}

/* Header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
}

/*logo*/
#logo img
{
height:45px;
width:110px;
margin-left:0px;
}
#logo
{
  display:flex;
  flex:1;
  margin-left: 10px;
}

/*Navigation*/

header nav {
    display: flex;
    align-items:center;
}

a {
    font-weight: 550;
    font-size: 13px;
    padding-top: 3px;
    text-decoration: none;
}

header nav a {
    margin-left: 20px;
}

.hebergements-activites { 
    display: inline-flex;
    list-style-type: none;
}

.entete_nav:hover {
    border-top: 2px solid #0065FC;
}


.entete_nav {
    padding-top: 30px;
    margin-right: 20px;
}
.entete_inscr {
    color: #0065FC;
    font-weight: bold;
    margin-right: 15px;
}

/*Titre principal*/

.description_recherche {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 20px;
}

.description_recherche h1{
    margin-bottom: 8px;
}
.description_recherche h3{
font-weight: 550;
font-size: 13.5px;
   margin-bottom: 5px;
}

/*Barre de recherche*/

#section_recherche {
    display: flex;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

.barre_recherche {
    display: flex;
    justify-content: flex-start;
}

.localisation_logo {
    position: relative;
    height: auto;
    background-color: #F2F2F2;
    width: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 12px;
}

.type-search{
border-color: #F2F2F2;
border-style: solid;
padding-right: 20px;
}


.fa-map-marker-alt {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.type-search::placeholder{
   color: black;
   font-weight: 800;
   padding-left: 5px;
   font-size: 15px;
}
.rechercher {
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 35%;
    height: 40px;
    border: none;
    outline: none;
    padding: 10px;
}
.rechercher span{
   font-size: 14px;
    color: white;
   font-weight: 600;
  
}
.rechercher i {
  display: none;
}

/*Filtres*/

#filtres-section {
    display: flex;
    align-items: center;
    margin: 30px 0px 30px 20px;
}

.filtre {
    display: flex;
    flex-wrap: wrap;
}

.icone_cercle_filtre:hover{
   background-color: #9dd7e2;
}

.filtre-bouton {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 25px;
    flex-wrap: wrap;

}

.filtre-bouton:hover {
    transform: scale(1.05);
    color: #0065FC;
 }

.icone_cercle_filtre {
    width: 40px;
    height: 40px;
    background-color: #DEEBFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    left: 0px;
}


.filtre-bouton p{
    height: 40px;
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    padding: 0px 20px 0px 50px;
    border-radius: 20px;
    font-size: 15px;
    

}
.filtre-bouton p a{
 font-weight: bold;
   font-size: 15px;
    

}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    color: #0065FC;
    font-size: 16px;
}


.nombre_logements {
    margin: 0 0 25px 25px;
    display: inline-flex;
}
.nombre_logements h3{
   font-size: 14px;
    font-weight: 550;
    color:black;
    margin-left: 10px;
    padding-top: 5px;
}
.nombre_logements i{
 border: solid 2px #d9d9d9;
 border-radius: 50%;
padding: 5px; 
 text-align: center;
 height: 10px;
  width: 10px;
  font-size: 10px;
}

/*hebergements/Hébergements à Marseille*/

#hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 10px 40px 10px;
    padding: 10px;
}

.titre_hebergements_a_marseille {
 margin-top: 30px;
 padding-bottom: 15px;
  
}

#hebergements_a_marseille {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 20px;
    padding:0px 35px 35px 35px ;
    max-width: 800px;

}

.carte_hebergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: auto;
}

.box_carte {
    border: 3px solid white;
    border-radius: 20px;
    padding: 3px 3px 3px 3px;
    background-color: white;
    max-width: 235px;
    margin-bottom: 25px;
     height: auto;


}

.hebergement_image {
    padding-left: 5px;
    padding-right: 5px;
}

.photo_hebergement {
    object-fit: cover;
    width: 235px;
    height: 115px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box_carte:hover{
    transform: scale(1.05);
}

.hebergement_contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
}

.titre_contenu {
    padding-top: 5px;
    padding-bottom: 5px;
}

.prix_contenu {
    padding-bottom: 5px;
}

.hebergement_notation {
    padding-bottom: 5px;
    font-size: 11px;

}

.fas.fa-star.grey-star {
    color: grey;
}

/*hebergements/Les plus populaires*/

#hebergements_populaires {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 30px 30px 10px 30px;
    max-width: 380px;
}

.titre_les_plus_populaires {
    margin-bottom: 15px;
}

.fa-chart-line {
    color: black;
    margin-left: 120px;

}

.hebergement_les_plus_populaires {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0px;
   

}

.box_populaire_carte {
    border: 3px solid white;
    border-radius: 20px;
    display: flex;
    background-color: white;
    padding: 3px 58px 3px 3px;
    width: 270px;
    max-height: 140px;
    margin-bottom: 25px;
    
    
}


.photo_populaire {
    width: 40%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.box_populaire_carte:hover {
    transform: scale(1.05);
}

.hebergement_populaire_contenu {
    
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3px 0px 3px 15px;

}

.titre_populaire_contenu {

}

.prix_populaire_contenu {
    padding-bottom: 30px;
}

.hebergement_notation_populaire {
    max-width: 94px;
    max-height: 15px;
    font-size: 11px;
}

/*Activités à Marseille*/

#Activités_à_Marseille {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
    max-width: 1350px;
  margin: 0px 20px;

}

.titre_activites {
    margin-bottom: 20px;
   
}

.activites {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;

}

.activite2et3,
.activite5et6 {
    display: flex;
    flex-direction: column;
}

.activite1,
.activite2,
.activite3,
.activite4,
.activite5,
.activite6 {
    box-shadow: 0px 5px 20px #F2F2F2;
    padding: 0px 0px 20px 0px;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
}

.photo_activite22{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 20px;
}

.photo_activite33{
    width: 100%;
    height: 110px;
    object-fit: cover;
    object-position: 50% 25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 20px;
}


.photo_activite55,
.photo_activite66 {
     width: 100%;
    height: 155px;
    object-fit: cover;
    object-position: 50% 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 20px;
}
.photo_activite11,
.photo_activite44{
     width: 100%;
    height: 390px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
     padding-bottom: 20px;
}

.activite1:hover,
.activite2:hover,
.activite3:hover,
.activite4:hover,
.activite5:hover,
.activite6:hover{
 transform: scale(0.95);
}
